language: node_js
node_js:
  - '4'
  - '5'
  - '6'
  - '7'
before_script:
  - npm run lint
after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
